@model IncomeModel

@{
    ViewBag.Title = "Gelir Ekle";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<form method="post" action="/GelirEkle" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">Gelir</label>
        <input class="form-control" name="Income" rows="3" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Kazanç</label>
        <input class="form-control" name="Price" rows="3" required>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
